/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body{
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:lavenderblush;


}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 50px;
   

}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/*
    Class referenced by .
    ID refreneced by #
*/

.topNavButton{
    color: deeppink !important;
    font-size:30px;
    font-family:'Brush Script MT'
    
    
}
#topNavHomeTitle{
    color: white;
    font-size: 55px;
    font-family:'French Script MT';
  


}
#topNavSection {
    margin-top: -55px;
    height: 46vh;
    background-image: url(../images/spongecake.jpg);
   
}
#topNavRow {
    background-color: rgba(34, 34, 34, 0.1);
    height:5vh;
}
* {
    box-sizing: border-box
}
